---
import Section from "../Section.astro";
import Subtitle from "../Subtitle.astro";
import Title from '../Title.astro';
import Card from "../Card.astro";
import Graduation from '../icons/Graduation.astro';
import Logo from '../icons/logo.astro';

---

<Section id="aboutme">
    <Subtitle>Para conocerme m치s</Subtitle>
    <Title>Sobre m칤</Title>

    <div class="about" >
        <div class="flex items-center">
            <img src="perfil.jpg" alt="" class="w-[40rem]  rounded-[50%] mx-auto" >
        </div>
       
            
        <div class="about__description text-xl  leading-normal  py-5 px-5  "> 
                <p class="">"Hola, soy Alexis. Tengo 25 a침os, soy un programador de M칠xico. Desde que estaba en el bachillerato, me dediqu칠 al estudio de la programaci칩n, pero mi pasi칩n por la tecnolog칤a se remonta a muchos a침os atr치s. Me destaco por mi habilidad para crear dise침os 칰nicos y optimizar al m치ximo mis proyectos.</p>
                
                <p>Me apasiona la programaci칩n 游눹, soy entusiasta de la Ciberseguridad 游댏, me considero Fullstack pero prefiero el Backend. </p>
            </div>
    </div>
</Section>
    <style>
        .about{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 3rem;
	    }

    
    .about__description p{
        margin-bottom: 3rem;
        font-size: 2rem;
        font-weight: 500;
    }

        .card{
		background-color: #1f2328;
		color: white;
	}
    </style>

    