---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Hero from '../components/Sections/Hero.astro';
import Slider from '../components/Sections/Slider.astro';
import About from '../components/Sections/About.astro';
import Experience from '../components/Sections/Experience.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		
			<Hero/>
			
			<Slider/>
		
			<About/>
		
		
			<Experience/>
		
	</main>
</Layout>
	
<style>
	
</style>
